<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/styles.css">

    <script>
        function sendMessage() {
            var message = document.getElementById("message").value;
            fetch("/send_message", {
                method: "POST",
                body: new URLSearchParams({"message": message}),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("chatlog").innerText += "Você: " + message + "\n";
                document.getElementById("chatlog").innerText += "Chatbot: " + data.message + "\n";
                document.getElementById("message").value = "";
            });
        }

    </script>
</head>
<body>
    <div class="card">
        <a href="/">Voltar</a><br>
        <textarea id="chatlog" readonly></textarea>
        <div>
            <input type="text" id="message" placeholder="Digite sua mensagem">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>
</body>
</html>
