<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/styles.css">

    <script>
        function trainBot() {
            var pergunta = document.getElementById("pergunta").value;
            var resposta = document.getElementById("resposta").value;
            fetch("/train_bot", {
                method: "POST",
                body: new URLSearchParams({"pergunta": pergunta, "resposta": resposta}),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("chatlog").innerText += "Pergunta treinada: " + pergunta + ", Resposta treinada: " + resposta + "\n";
            });
        }
    </script>
</head>
<body>
    <div class="card">
        <a href="/">Voltar</a><br>
        <textarea id="chatlog" readonly></textarea>
        <input type="text" id="pergunta" placeholder="Digite a pergunta">
        <input type="text" id="resposta" placeholder="Digite a resposta">
        <button onclick="trainBot()">Treinar</button>
    </div>
</body>
</html>
